.menuInferior {
    text-align: center;
    border: 7px solid #fff;
}

.menuInferior ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.anclaInferior {
    position: fixed;
    z-index: 10;
    border-radius: 5px;
    background-color: var(--institucional);
    left: 94%;
    bottom: 2%;
    font-size: 15pt;
    border: 0;
    width: 44px;
    height: 44px;
}

.anclaInferior a{
    color: #fff;
}

.anclaInferior:hover{
    background-color: #184d70;
}


/* fin estilos que dan efecto 3d a los div donde estan las rede sociales*/

.footer-main {
    background-color: var(--footer);
    color: #313030;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer{
    font-family: 'WorkSans';
    font-size: 16pt;
}

.footer-main__title {
    padding-left: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: var(--menu);
}

.footer-main a {
    text-decoration: none;
    color: var(--menu);
}

b,
strong {
    font-weight: 700;
}

.informacion-contacto,
.informacion-institucional {
    padding: 30px;
}
